In [1]:
import pandas as pd

In [ ]:
inventory = pd.read_csv('O:/Northwood/Capstone/bookstore_datasets/bookstore_inventory.csv')
inventory.head()

,month,from,to,sku,qty,unit_cost,unit_price,extended_cost,extended_retail,dataset
0,2019-01-01,YYC-WH,YYC-DT,BK1000,19,8.09,18.92,153.71,359.48,bookstore_inventory
1,2019-01-01,YYC-WH,YYC-NW,BK1000,10,8.09,18.92,80.90,189.20,bookstore_inventory
2,2019-01-01,YYC-WH,YYC-SE,BK1000,7,8.09,18.92,56.63,132.44,bookstore_inventory
3,2019-01-01,YYC-WH,YYC-DT,BK1001,21,10.75,24.49,225.75,514.29,bookstore_inventory
4,2019-01-01,YYC-WH,YYC-NW,BK1001,13,10.75,24.49,139.75,318.37,bookstore_inventory

In [3]:
sales_data = pd.read_csv('O:/Northwood/Capstone/bookstore_datasets/bookstore_sales.csv')
sales_data.head()

,date,year,month,store_id,channel,transactions,revenue,gst_collected,net_revenue,dataset
0,2019-01-01,2019,1,YYC-DT,IN_STORE,64,1985.46,99.27,1886.19,bookstore_sales
1,2019-01-01,2019,1,YYC-DT,ONLINE,8,207.72,10.39,197.33,bookstore_sales
2,2019-01-01,2019,1,YYC-NW,IN_STORE,49,1466.95,73.35,1393.60,bookstore_sales
3,2019-01-01,2019,1,YYC-NW,ONLINE,4,148.89,7.44,141.45,bookstore_sales
4,2019-01-01,2019,1,YYC-SE,IN_STORE,33,1272.70,63.64,1209.06,bookstore_sales

In [27]:
print(inventory.shape)
print(sales_data.shape)

(21566, 10)
(13152, 10)

In [22]:
inventory.describe()

,qty,unit_cost,unit_price,extended_cost,extended_retail
count,21566.000000,21566.000000,21566.000000,21566.000000,21566.000000
mean,13.607020,12.380085,26.323480,168.395885,358.156324
std,6.483232,3.528916,7.857572,95.771328,206.848009
min,1.000000,6.080000,11.510000,6.270000,11.510000
25%,9.000000,9.120000,18.920000,98.100000,205.380000
50%,13.000000,13.110000,27.050000,150.100000,320.400000
75%,17.000000,15.360000,31.930000,219.167500,467.210000
max,52.000000,17.770000,42.690000,703.560000,1664.910000

In [ ]:
sales_data.describe()

               year         month  transactions       revenue  gst_collected  \
count  13152.000000  13152.000000  13152.000000  13152.000000   13152.000000
mean    2021.500456      6.521898     32.601125   1051.288171      52.564473
std        1.708246      3.449117     24.465208    762.231707      38.111537
min     2019.000000      1.000000      3.000000     83.830000       4.190000
25%     2020.000000      4.000000     12.000000    409.035000      20.450000
50%     2021.500000      7.000000     24.000000    780.325000      39.020000
75%     2023.000000     10.000000     49.000000   1586.855000      79.342500
max     2024.000000     12.000000    154.000000   4279.490000     213.970000

        net_revenue
count  13152.000000
mean     998.723698
std      724.120169
min       79.640000
25%      388.585000
50%      741.305000
75%     1507.512500
max     4065.520000